.search-bar {
    .ant-space.ant-space-horizontal {
        gap: 0px;
    }

    .search-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;

        .ant-input-suffix {
            margin: 0;
            color: #BFBFBF;
        }

        input {
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
        }

        .ant-input-affix-wrapper {
            padding: 7px 21px;
        }

        .name {
            background-color: #ffffff;
            border: 3px solid;
            border-color: #5454ac;
            border-radius: 0px 0px 0px 25px;
            height: 67px;
        }

        /* .Date_picker {
            background-color: #ffffff;
            border: 3px solid;
            border-color: #5454ac;
            height: 67px;
            width: 100%;
            border-radius: 0px;
            border-left-width: 0px;

            .ant-space-item {
                width: 100%;
            }

            .ant-picker {
                border: none;
                padding: 7px 21px;
                width: 100%;
            }

            .ant-picker-focused {
                box-shadow: none !important;
                outline: none;
            }
        } */

        .Price {
            background-color: #ffffff;
            border: 3px solid;
            border-color: #5454ac;
            height: 67px;
            border-radius: 0px;
            border-left-width: 0px;
            width: 100%;

            .ant-select-selector {
                border: none;
                font-size: 20px;
                padding: 0 !important;

                .ant-select-selection-placeholder {
                    padding: 0 0 0 21px;
                    text-align: left;
                }
            }

            .ant-select-arrow {
                padding-right: 10px;
                font-size: 15px;
            }
        }

        .fish, .location {
            background-color: #ffffff;
            border: 3px solid;
            border-color: #5454ac;
            height: 67px;
            border-radius: 0px;
            border-left-width: 0px;
            width: 100%;
            max-width: 392px;

            .ant-select-selection-item {
                padding-right: 10px;
            }

            .ant-select-selector {
                font-size: 20px;
                padding: 0;
                border: none;

                .ant-select-selection-placeholder {
                    padding: 0;
                    text-align: left;
                }
            }

            .ant-select-arrow {
                padding-right: 10px;
                font-size: 13px;
            }
        }

        .fish {
            border-right-width: 0px;
        }

        .button_search {
            background-color: #feb95e;
            border: 5px solid;
            border-color: #5454ac;
            border-radius: 0px 0px 25px 0px;
            height: 67px;
            left: 0;
            top: 0;
            width: 100%;

        }
    }

}