.tour-display-container {
  background-color: #f9f9f9; // Nền sáng
  color: #333; // Màu chữ tối
  padding: 20px;

  .tour-label {
    text-align: center; // Căn giữa tiêu đề
    margin-bottom: 20px;

    .text-wrapper-title {
      font-size: 24px; // Kích thước tiêu đề lớn
      font-weight: bold;
      color: #ff7f50; // Màu cam cho tiêu đề
    }

    .text-wrapper-describe {
      font-size: 16px; // Kích thước mô tả
      color: #666; // Màu chữ nhạt hơn
    }
  }

  .tour-list {
    .ant-card {
      border-radius: 8px; // Bo góc cho thẻ
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); // Đổ bóng cho thẻ
      transition: transform 0.3s; // Hiệu ứng khi hover

      &:hover {
        transform: scale(1.05); // Phóng to khi hover
      }

      .ant-btn-primary {
        background-color: #ff7f50;
        border-color: #ff7f50;
        &:hover {
          background-color: #ff4500;
          border-color: #ff4500;
          color: #f9f9f9;
        }
        a {
          color: #fff;
          
          
        }
      }
    }
  }
}
