.fish-display {
  min-height: calc(100vh - 300px); // Chiều cao tối thiểu
  background-color: #f8f8f8; // Màu nền
  padding: 40px 0; // Khoảng cách trên và dưới

  .carousel-container {
    max-width: 90%; // Chiều rộng tối đa cho carousel
    margin: auto; // Căn giữa
    background-color:  #F5E0B3; // Màu nền trắng
    border-radius: 10px; // Bo tròn góc
    padding: 20px; // Khoảng cách bên trong
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); // Đổ bóng
    display: flex; // Sử dụng flexbox
    flex-direction: column; // Đặt chiều dọc
    

    .fish-label {
      text-align: center; // Căn giữa chữ
      margin-bottom: 20px; // Khoảng cách dưới tiêu đề

      .text-wrapper-title {
        font-size: 36px; // Kích thước chữ tiêu đề
        font-weight: bold; // Đậm
        color: #ff7f53; // Màu chữ
      }
    }

    .Carousel-bar {
      position: relative; // Để quản lý vị trí của các nút điều hướng
      padding: 10px;

      .carousel-item {
        display: flex; // Sử dụng flexbox
        justify-content: center; // Căn giữa
        align-items: center; // Căn giữa theo chiều dọc
        margin-left: 120px; // Khoảng cách đều giữa các item

        .ant-card {
          transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; // Hiệu ứng hover
          width: 200px; // Chiều rộng cố định cho card
          display: flex; // Sử dụng flexbox cho card
          flex-direction: column; // Đặt chiều dọc

          &:hover {
            transform: scale(1.05); // Phóng to khi hover
            box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15); // Đổ bóng khi hover
          }
        }
      }
    }

   

  
  }

  .ant-card-meta-title {
    padding: 10px;
    display: flex;
    justify-content: center; // Căn giữa
    font-size: 20px; // Kích thước chữ
    font-weight: bold; // Đậm
  }

  .ant-btn {
    margin-left: 0; // Căn giữa nút
    background-color: #ff6600; // Màu nền
    color: white; // Màu chữ
    border: none; // Không viền
    border-radius: 5px; // Bo tròn
    transition: background-color 0.3s; // Hiệu ứng chuyển đổi
    margin-left: 70px;

    &:hover {
      background-color: #e65c00; // Thay đổi màu nền khi hover
    }
  }
  
}
